{% extends "index.html" %}
{% block main %}
  <div id="popup" class="popup">
  </div>
  <div id="prompthider" class="hider"></div>
  <div id="prompt">
    The prompt is displayed here.
  </div> 
  <hr class="promptline" id="promptline">
  <div id="instruction">
  Press and hold <span class="teletype">&lt;space&gt;</span>
  </div>
  <script src="static/js/dictate.js"></script>
  <script src="static/js/recorder.js"></script>
  <script src="static/js/speechtrack.js"></script>
{% endblock %}
{% block side %}
<div class="switchcolumn">
  <div class="switcher" onclick="setupPrompt(1)">
    <span class="switchtext">En dag började solen och vinden bråka om vem av dem som var starkast.</span>
  </div>
  <div class="switcher" onclick="setupPrompt(2)">
    <span class="switchtext">Taligenkänning kallas processen att elektroniskt eller datatekniskt tolka mänskligt, naturligt tal.</span>
  </div>
  <div class="switcher" onclick="setupPrompt(3)">
    <span class="switchtext">Hej Peter! Jag försökte ringa dig, men din mobil var avstängd. Var är du?! Hoppas att du hör mitt meddelande snart. Eva ligger på sjukhus. Hon råkade ut för en bilolycka i morse, men det är ingen fara med henne.</span>
  </div>
  <div class="switcher makeown" onclick="makeYourOwn()">
    <span class="switchtext">Write your own prompt</span>
  </div>
</div>

{% endblock %}
