<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Digitala InterSpeech 2017 Demo</title>
    <link rel="stylesheet" href="https://digitala.aalto.fi/is17/static/pure-min.css">
    <link rel="stylesheet" href="https://digitala.aalto.fi/is17/static/grids-responsive-min.css">
    <link rel="stylesheet" href="https://digitala.aalto.fi/is17/static/style.css">
  </head>
  <body>
    <div class="main" id="main">
      {% block main %}
      <h1>Reading validation for pronunciation evaluation in the Digitala project</h1>
      {% endblock %}
    </div>
  </body>
</html>
