{% extends "main.html" %}
{% block main %}
<div id="wrapper">
  <!--<div id="prompthider" class="hider"></div>-->
  <div id="promptmain">
    <div id="popup" class="popup"></div>
    <div id="prompt">
      The prompt is displayed here.
    </div> 
    <hr class="promptline" id="promptline">
    <!--<div id="instruction">
    Press and hold <span class="teletype">&lt;space&gt;</span>
    </div>-->
    <div id=controlbuttons>
      {% if promptnum is eq(1) %}
        <a class="pure-button ctrl" id="leftbutton" 
          href="https://digitala.aalto.fi/is17/">←</a>
      {% else %}
        <a class="pure-button ctrl" id="leftbutton" 
          href="https://digitala.aalto.fi/is17/speechtrack/{{ promptnum-1 }}">←</a>
      {% endif %}
    <button class="pure-button ctrl" id="readbutton">Hold to read</button>
      {% if promptnum is eq(3) %}
        <button class="pure-button ctrl pure-button-disabled" id="rightbutton">→</button>
      {% else %}
        <a class="pure-button ctrl" id="rightbutton" 
          href="https://digitala.aalto.fi/is17/speechtrack/{{ promptnum+1 }}">→</a>
      {% endif %}
    </div>
  </div>
  <script src="https://digitala.aalto.fi/is17/static/js/dictate.js"></script>
  <script src="https://digitala.aalto.fi/is17/static/js/recorder.js"></script>
  <script src="https://digitala.aalto.fi/is17/static/js/recorderWorker.js"></script>
  <script> var prompt_num = {{ promptnum }} </script>
  <script src="https://digitala.aalto.fi/is17/static/js/speechtrack.js"></script>
</div>
{% include "footer.html" %}
{% endblock %}
